<div class="jumbotron">
    <h1>IQMobile</h1>
    <p class="lead">IQMObile</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>IQMobile</h2>
        <p><a href="~/Publish/app-release.apk">Install IQMobile</a></p>
    </div>
</div>