<connectionStrings>
  <add name="iqsyncdatabase" connectionString="Data Source=.\sqlexpress_2012;Initial Catalog=iqcare_sync;Persist Security Info=True;User ID=sa;Password=1;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
  <add name="iqcaredatabase" connectionString="Data Source=.\sqlexpress_2012;Initial Catalog=iqcare;Persist Security Info=True;User ID=sa;Password=1;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />    
</connectionStrings>
