<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thepalladiumgroup.iqm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".IQMobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="standard" />
        <activity
            android:name=".FindAddPatientActivity"
            android:launchMode="standard"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".SyncActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DeviceActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PateintManagerActivity"
            android:launchMode="standard"
            android:parentActivityName=".FindAddPatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FindAddPatientActivity" />
        </activity>
        <activity
            android:name=".ObservationActivity"
            android:parentActivityName=".PateintManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PateintManagerActivity" />
        </activity>
        <activity android:name=".PatientListActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>